/* IMPORTING GENERAL STYLES */
@import url("../CSS/fonts.css");



/* GENERAL */
body {
    margin: 0;
    padding: 0;
    background-color: white;
}



/* HEADING */
.slot-area-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 8px;
    
    background-color: #92D3AD;
}

.lab-select {
    font-family: Dongle-Reg;
    font-size: 5vh;

    background-color: white;
    border-radius: 20px;
    border: none;

    margin: 0;
    padding: 3px 15px;
    line-height: 1;
}



/* MAIN AREA */
.slot-area-content {
    display: grid;
    grid-template-areas:
        "door areaA areaB"
        "board areaC areaD";
    grid-template-columns: 0.8fr 2fr 2fr;
    grid-template-rows: 300px 300px;
}

.door {
    grid-area: door;
    width: 200px;
}

.door img {
    width: 100%;
}

.board {
    grid-area: board;
}

.board img {
    width: 50px;
}



/* TABLE AREAS */
.areaA {
    grid-area: areaA;
}

.areaB {
    grid-area: areaB;
}

.areaC {
    grid-area: areaC;
}

.areaD {
    grid-area: areaD;
}

.areaA, .areaB, .areaC, .areaD {    
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
}



/* TABLES */
.upperTable, .lowerTable {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chairs {
    background: none;
    border: none;
    width: 100px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    z-index: 10;
    cursor: pointer;
}

.chairs img {
    width: 100%;
    padding: 15px;
}

.table {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 5%;
}

.table img {
    width: 200px;
    margin: 0;
    padding: 0;
}



/* POP-OUTS */
.popFree {
    border-radius: 10px;
    height: 100px;
    width: 200px;
}

.popReserved {
    border-radius: 10px;
    height: 100px;
    width: 250px;
}