@import url("fonts.css");

.heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.heading button {
    background-color: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.heading img {
    width: 25px;
}

.content p {
    font-family: Dongle-Reg;
    font-size: 30px;
    padding: 0;
    margin: 0;
}