<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="general.css">
    <script src="../JS/general.js"></script>

    <title>Labubuddies</title>
</head>

<body>
    <!-- HEADING OPTIONS -->
    <header class="header">
        <button onclick="openSidebar()" class="open-menu">
            <img src="../Assets/icons/menu-black.svg">
        </button>

        <div class="title">
            <img src="../Assets/icons/logo.svg" class="logo">

            <div class="label">
                <p class="label-main">LABubuddy</p>
                <p class="label-sub">Student</p>
            </div>
        </div>

        <button type="button" class="sign-out">Sign Out</button>
    </header>

    <!-- MENU SIDEBAR -->
    <div class="sidebar">
        <div class="sidebar-heading">
            <button onclick="closeSidebar()">
                <img src="../Assets/icons/menu-white.svg">
                <h1>Menu</h1>
            </button>
        </div>
        <hr class="solid-divider">
        <a href = "">Edit Profile</a>
        <hr class="solid-divider">
        <a href = "">Create Reservation</a>
        <a href = "">Edit Reservation</a>
        <a href = "">View Reservations</a>
        <hr class="solid-divider">
    </div>

    <!-- MAIN CONTENT -->
     <!-- insert main content here -->

</body>

</html>