<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <link rel="stylesheet" href="../../CSS/general.css">

    <script src="/JS/general.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    {{> header}}
    {{> sidebar}}

    {{{body}}}
    
</body>
</html>