<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0; URL='/landingpage'" />
    <title>Redirecting...</title>
</head>
<body>
    <p>If you are not redirected automatically, <a href="/landingpage">click here</a>.</p>
</body>
</html>