<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/CSS/fonts.css">

    <script src="https://cdn.tailwindcss.com"></script>

    <title>Slots Unavailable</title>
</head>
<body class="m-0 p-0 bg-white">
    <p class="text-black text-[2vw] font-[Dongle-Regular] m-5 p-5">Please enter a date and time before choosing a lab and seat.</p>
</body>
</html>