button.confirm-res.active {
  background-color: #34C578;
  color: black;
  cursor: pointer;
}

button.confirm-res.active:hover {
    border: 2px solid black;
}

button.confirm-res {
  background-color: #9CA3AF;
  color: #e5e7eb;
  cursor: not-allowed;
}