@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Inter&display=swap');

body {
  background-color: #157346;
  font-family: 'Inter', sans-serif;
}

.logo-title {
  font-family: 'Dongle', sans-serif;
}
