@import url("fonts.css");

@font-face {
    font-family: 'Dongle-Reg', sans-serif;
    src: url('../Assets/fonts/Dongle-Regular.ttf') format('truetype');
}

* {
  font-family: 'Dongle-Reg', sans-serif;
}